/* --- Footer --- */

.footer {
	background-color: var(--clr-dark-primary);
	padding-block: 20px 10px;
	color: var(--clr-light-primary);
}

.footer__inner {
	display: flex;
}

.footer__title {
	font-weight: 700;
	position: relative;
	max-width: fit-content;
	margin-bottom: 10px;
}

.footer__title::after {
	content: "";
	position: absolute;
	background-color: currentColor;
	width: 30%;
	height: 2px;
	bottom: -6px;
	left: 0;
}

/* --- Socials --- */

.socials__list {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}

.socials__item {
	color: var(--clr-light-primary);
}

.socials__item a {
	color: inherit;
	font-size: 1.25rem;
	transition: color var(--transition-duration);
}

.socials__item a:hover {
	color: var(--clr-light-hover);
}

.footer__copy {
	text-align: center;
	margin-top: 10px;
	font-size: .75rem;
	color: var(--clr-light-secondary);
}