/* --- Nav --- */

.nav {
	position: absolute;
	width: 100%;
	color: #fff;
}

.nav--fixed {
	position: fixed;
	box-shadow: 0 2px 5px 0 rgb(0, 0, 0, .2);
	background-color: #fff;
	color: #000;
}

.nav__inner {
	padding-block: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

.nav__list {
	display: flex;
	gap: 10px;
}

.nav__list--links {
	justify-self: center;
}

.nav__list--actions {
	justify-self: end;
	gap: 5px;
}

.nav__list-item {
	padding: .5rem;
	position: relative;
	/* color: #000; */
}

.nav__link {
	text-decoration: none;
	color: inherit;
}

.nav__link--active {
	text-decoration: underline;
	text-underline-offset: 5px;
}