.product-card {
	max-width: 200px;
	width: 100%;
	/* border: 1px solid rgba(0, 0, 0, .2); */
	border-radius: .5rem;
	overflow: hidden;
	padding: .75rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.product-card__img-wrapper {
	display: block;
}

.product-card__img-wrapper img {
	object-fit: contain;
	display: block;
	width: 100%;
	height: 150px;
}

.product-card__content {
	margin-top: 10px;
}

.product-card__title {
	display: block;
	text-decoration: none;
	color: var(--clr-dark-primary);
}

.product-card__title:hover {
	text-decoration: underline;
}

.product-card__price {
	display: block;
	margin-top: 20px;
}